
<div class="col-md-12">

    {{#if errorMessage}}

    <div class="alert alertdanger navbar bg-warning text-danger"> <strong>Error:</strong> {{errorMessage}}</div>

    {{/if}}

    {{#if successMessage}}

    <div class="alert alert-success">
        <strong>Success:</strong> {{successMessage}}
    </div>
    
    <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a>

    {{else}}

    <div class="row">
        <div class="col-md-12">
        <h2>Register New User</h2>
        <br />
        <form method="post" action="/register">
            
            <fieldset>
            
            <legend>User Information</legend>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userName">User Name:</label>
                        <input class="form-control" id="userName" name="userName" type="text" required placeholder="User Name" {{#if userName}} value="{{userName}}" {{/if}} />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="email" required placeholder="Email Address"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password2">Password:</label>
                        <input class="form-control" id="password" name="password" type="password" required placeholder="Password" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password2">Confirm Password:</label>
                        <input class="form-control" id="password2" name="password2" type="password" required placeholder="Confirm Password" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary pull-right" type="submit">Register</button>

            </fieldset>

        </form>

        </div>
    </div>

    {{/if}}
</div>