/* 404.html */
section.notfound article {
    text-align: center
}

section.notfound article h1 {
    font-size: 12em;
    font-weight: bold;
}

section.notfound article h1 span {
    color: #ffd900;
}

section.notfound article p {
    color:#888887;
    font-style: italic;
}

section.notfound article a {
    display: inline-block;
    border:1px solid #e7e7e7;
    border-radius: 25px;
    padding: 5px 15px;
    margin-top: 20px;
    color:#777777;
    background: #f8f8f8;
}

section.notfound article a:hover {
    text-decoration: none;
    color:#262626;
    border:1px solid #a5a5a5;
}

/* Login Page */
div.login-form {
    padding: 0px 15px;
    border: 1px solid #b7ceda;
}

div.login-form hr {
    border-top:1px solid #b7ceda;
}

div.login-form h3 {
    line-height: 12px;
}